html {
	box-sizing: border-box;
}

::before,
::after {
	box-sizing: inherit;
}

ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	position: relative;
	background-color: rgb(250, 236, 192);
	align-items: center;
}
h1 {
	display: block;
	width: 100%;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	background: linear-gradient(135deg, rgb(2, 2, 173) 15%, green 35%, blue);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: chocolate;
	text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.17);
	font-size: calc(34px + (17 + 17*0.7) * ((100vw  - 320px) / 1900));
	line-height: 1;
	margin-bottom: 30px;
}

h2 {
	font-size: 24pt;
	color: chocolate;
	margin: 0 0 -10px 0;
	padding: 0;
	width: 100%;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	line-height: 95%;
	font-size: calc(24px + (12 + 12*0.7) * ((100vw - 320px) / 1900));
}

h4 {
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: 400;
	margin: 0 0 -15px 0;
	padding: 0;
}

.fence {
	background-color: #fff;
	min-height: 100%;
	display: grid;
	/* grid-template: minmax(70px auto) 1fr minmax(100px auto) / 1fr; */
	grid-template-areas:
		"header"
		"main"
		"footer";
		justify-content: center;
	padding: 20px auto;
}

.header {
	background-color: gray;
	width: 100%;
	min-height: 80px;
	grid-area: "header";
	column-gap: 30px;
	align-items: center;
	z-index: 99;
}

.block {
	height: 80px;
}

.main {
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	background: rgb(253, 187, 45);
	background: -moz-linear-gradient(28deg, rgba(253, 187, 45, 1) 0%, rgba(34, 193, 195, 1) 100%);
	background: -webkit-linear-gradient(28deg, rgba(253, 187, 45, 1) 0%, rgba(34, 193, 195, 1) 100%);
	background: linear-gradient(28deg, rgba(253, 187, 45, 1) 0%, rgba(34, 193, 195, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fdbb2d", endColorstr="#22c1c3", GradientType=1);
	display: flex;
	grid-area: "main";
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.topmenu {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	min-width: 760px;
	height: 65px;
	background-color: black;
	position: fixed;
	z-index: 7;
}
.topmenu-logo {
	position: fixed;
	margin: 20px 10px;
	justify-self: start;
	align-self: start;
	width: 80px;
	height: 56px;
	padding: 4px;
	background-color: rgba(255, 255, 255, 0.7);
	z-index: 99;
	}
	.topmenu-logo img {
		width: 80px;
	}
.topmenu__views {
	position: relative;
	display: flex;
	align-items: center;
	background-color: rgb(2, 78, 150);
	border: 1px solid;
	border-color: aqua;
	width: auto;
	height: auto;
	margin-right: 30px;
	margin-left: 0;
	padding: 5px 5px 1px 5px;
	z-index: 17;
}
.topmenu__views:hover {
	transform: scale(1.17);
	box-shadow: 2px 2px 8px white;
	transition: all 0.2s ease-in-out;
}
.topmenu ul {
	margin-right: 20px;
	display: flex;
	flex-flow: row nowrap;
}
.topmenu ul li {
	height: inherit;
	text-transform: uppercase;
	margin-right: 40px;
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}
.topmenu ul li a {
	color: wheat;
	text-decoration: none;
	padding: 10px 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 14pt;
	text-shadow: 0px 0px 12px black;
}
.a-act:hover {
	font-weight: 900;
	text-shadow: 3px 3px 4px wheat;
	color: gold;
	transition: all 0.2s ease-in-out;
}

.wrapper {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 0 20px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	z-index: 0;
}

.wrapper__first  {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 10px;
}

.wrapper__first-txt {
	background-color: #fff;
	border-radius: 2%;
	box-shadow: 4px 4px 8px black;
	display: inline-block;
	width: 25vw;
	min-width: 310px;
	height: 30vh;
	padding: 10px;
	margin-bottom: 20px;
}
.wrapper__first-txt p {
	display: inline-block;
	text-align: justify;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	min-width: 310px;
	height: 30vh;
	font-size: calc(12px + (5 + 5*0.7) * ((100vw - 340px) / 1900));
	line-height: 100%;
	overflow: hidden;
	}

	.wrapper__first img {
	box-sizing: border-box;
	border: 3px solid;
	border-radius: 2%;
	box-shadow: 4px 4px 8px black;
	border-color: chocolate;
	display: inline-block;
	width: 32vh;
	height: 32vh;
	padding: 0;
	margin: 0 20px;
}

.main__forms {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.inact {
	color: grey !important;
}

@media (max-width: 1600px) {

	.footer__miniz {
		display: none;
	}
	.wrapper__first-txt p {
		font-size: calc(14px + (6 + 6*0.7) * ((100vw - 340px) / 1900));
	}
}

@media (max-width: 762px) {

	.wrapper [
		display: flex;
		flex-direction: row;
		align-items: center;
		row-gap: 10px;
	]

	.wrapper__first-img {
		height: 99vw;
		width: 99vw;
	}

	.wrapper__first-txt {
		width: 88vw;
		justify-self: center;
	}

	.wrapper__first-txt p {
		font-size: calc(17px + (7 + 7*0.7) * ((100vw - 340px) / 1900));
	}

	/* .topmenu {
		display: none;
	} */

	.topmenu ul li {
		font-size: 12px;
	}

		.footer {
			height: 80px;
			padding: 0 30px;
		}
	
		.footer * {
			font-size: 10pt;
			margin: 0 0 5px 0;
		}
	
		.footer ul {
			margin: 0;
			padding: 0;
		}
	
		.footer * img {
			width: 25px;
		}

}