html {
	box-sizing: border-box;
}

::before,
::after {
	box-sizing: inherit;
}

ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
	background-color: rgb(250, 236, 192);
	position: relative;
	/* min-width: 100vw;
	min-height: 100vh; */
	background-image: url("/img/21_nsk2019.jpg");
	background-size: cover;
	background-position: top center;
	background-repeat: norepeat;
	align-items: center;
}
h1 {
	display: block;
	width: 100%;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	background: linear-gradient(135deg, rgb(2, 2, 173) 15%, green 35%, blue);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: chocolate;
	text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.17);
	font-size: calc(34px + (17 + 17*0.7) * ((100vw  - 320px) / 1900));
	/* font-size: calc(36px + (20 + 16*0.7) * ((100vw - 320px) / 1920)); */
	line-height: 1.2;
	margin: 0;
}

h2 {
	font-size: 24pt;
	color: chocolate;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

.fence {
	min-height: 100%;
	display: grid;
	grid-template: minmax(70px auto) 1fr minmax(100px auto) / 1fr;
	grid-template-areas:
		"header"
		"main"
		"footer";
}

.header {
	background-color: gray;
	width: 100%;
	min-height: 100px;
	display: grid;
	grid-template: 1fr / 1fr minmax(auto 200px) minmax(auto 1200px) 1fr;
	grid-auto-flow: column;
	grid-area: "header";
	column-gap: 30px;
	align-items: center;
	z-index: 99;
}

.main {
	width: auto;
	min-height: 82vh;
	background: rgb(253, 187, 45);
	background: -moz-linear-gradient(28deg, rgba(253, 187, 45, 1) 0%, rgba(34, 193, 195, 1) 100%);
	background: -webkit-linear-gradient(28deg, rgba(253, 187, 45, 1) 0%, rgba(34, 193, 195, 1) 100%);
	background: linear-gradient(28deg, rgba(253, 187, 45, 1) 0%, rgba(34, 193, 195, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fdbb2d", endColorstr="#22c1c3", GradientType=1);
	padding: 30px 15px;
	display: grid;
	grid-area: "main";
	/* grid-template-areas: "- sidebar gallery -";
	grid-template: 1fr / fit-content minmax(auto fit-content) minmax(auto 1400px) auto; */
	justify-content: center;
	z-index: 1;
}

.topmenu {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	min-width: 760px;
	height: 65px;
	background-color: black;
	position: fixed;
	z-index: 7;
}
.topmenu-logo {
	position: fixed;
	width: 80px;
	height: 56px;
	padding: 4px;
	background-color: rgba(255, 255, 255, 0.7);
	z-index: 8;
	}
	.topmenu-logo img {
		position: absolute;
		width: 80px;
	}
.topmenu__views {
	position: relative;
	display: flex;
	align-items: center;
	background-color: rgb(2, 78, 150);
	border: 1px solid;
	border-color: aqua;
	width: auto;
	height: auto;
	margin-right: 30px;
	margin-left: 0;
	padding: 5px 5px 1px 5px;
	z-index: 17;
}
.topmenu__views:hover {
	transform: scale(1.17);
	box-shadow: 2px 2px 8px white;
	transition: all 0.2s ease-in-out;
}
.topmenu ul {
	margin-right: 20px;
	display: flex;
	flex-flow: row nowrap;
}
.topmenu ul li {
	height: inherit;
	text-transform: uppercase;
	margin-right: 40px;
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}
.topmenu ul li a {
	color: wheat;
	text-decoration: none;
	padding: 10px 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 14pt;
	text-shadow: 0px 0px 12px black;
}
.a-act:hover {
	font-weight: 900;
	text-shadow: 3px 3px 4px wheat;
	color: gold;
	transition: all 0.2s ease-in-out;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 0;
}

.wrapper__first  {
	display: inline-flex;
	flex-wrap: wrap;
	position: relative;
	align-items: start;
	justify-content: center;
}

.wrapper__first-txt {
	background-color: #fff;
	box-shadow: 4px 4px 8px black;
	display: inline-block;
	min-width: 22vw;
	max-width: 25vw;
	height: 25vh;
	padding: 10px 10px;
	margin: 20px 10px;
}
.wrapper__first-txt p {
	display: inline-block;
	position: relative;
	text-align: justify;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	min-width: 22vw;
	max-width: 25vw;
	font-size: calc(12px + (6 + 6*0.7) * ((100vw - 320px) / 1900));
	line-height: 100%;
	margin-top: 4px;
	}

	.wrapper__first img {
	border: 3px solid;
	box-shadow: 4px 4px 8px black;
	border-color: chocolate;
	position: relative;
	display: inline-block;
	min-height: 30vh;
	min-width: 20vw;
	margin: 20px 10px 0 10px;
}

.main__forms {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.inact {
	color: grey !important;
}